# SPDX-License-Identifier: CC0-1.0
# Written in 2019 by Peter A. Bigot

# Exclude all material unpacked from Nordic zips
s130_nrf51_2.0.1*
s13x_nrf5x_2.0.1_migration-document.pdf
s132_nrf52_6.1.1*
s140_nrf52_6.1.1*
